.headings {
    color:red;
}
.paragraph_color {
    background-color: beige;
}

#london_header {
    background-color: pink
}

html {
    scroll-behavior: smooth;
}

.spacing {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 2px solid black;
    border-bottom: 4px solid grey;
}

.box {
    border: 10px ridge lightgreen;
    margin: 5px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}